* {
  box-sizing: border-box;
}

html {
  font-size: $default-font-size;

  @media screen and (max-width: $tablet-start) {
    font-size: 14px;
  }

  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
}

body {
  min-width: 350px;

  font-family: $primary-text;
  font-size: $default-font-size;
  color: $color-main;

  min-height: 100vh;
  background-color: #161926;

}




