.contact {
  display: flex;
  justify-content: space-between;
  gap: 20%;
  padding: 60px 0 100px;

  @media screen and (min-width: $mobile) and (max-width: $mobile-end) {
    padding: 30px 0 50px;
  }

  border-bottom: 1px solid $color-gray-dark;
  border-top: 1px solid $color-gray-dark;

  @media screen and (min-width: $mobile) and (max-width: $mobile-end) {
    flex-direction: column;
    /*gap: 20px;*/
  }

  &__heading {
    padding-top: 20px;
    flex-basis: 50%;
  }

  &__form {
    flex-basis: 50%;
  }

  &__text {
    @media screen and (min-width: $mobile) and (max-width: $mobile-end) {
      margin-bottom: 50px;
    }

  }
}